SUPABASE_URL = "https://cydaraeumzbjwljqzied.supabase.co"
SUPABASE_SECRET_KEY = "sb_secret_JhSAF4nhxiX4iZH4gXHjTQ_lgz1BFem"

GEMINI_API_KEY = "YOUR_REAL_GEMINI_KEY"

KRCL_SHEET_ID = "13W4XDKVK384EfZ5rxtccApLsMkca_Jz22qzz-uyrHf8"
