SUPABASE_URL = "https://cydaraeumzbjwljqzied.supabase.co"
SUPABASE_SECRET_KEY = "sb_secret_JhSAF4nhxiX4iZH4gXHjTQ_lgz1BFem"
GEMINI_API_KEY = "AQ.Ab8RN6IcCbDUR2-0gvdn9iXKcdCBK2C28os5s23_ReJUaXMjbQ"
KRCL_SHEET_ID = "13W4XDKVK384EfZ5rxtccApLsMkca_Jz22qzz-uyrHf8"
